name: Assets

on:
  push:
    paths:
      - .github/workflows/assets.yml
      - pcb/**
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: assets
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: rafaelmartins/website/kicad@main
        with:
          configuration: ./pcb/config.yml
          source: ./pcb
          destination: _build

      - uses: actions/configure-pages@v5

      - uses: actions/upload-pages-artifact@v3
        with:
          path: _build

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    needs:
      - build

    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
